.selected {
    border: 5px solid blue;
    border-radius: 3%;
  }

  .fab-container {
    width: 100%;
  }
  
  .fab-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
  
  .fab-row ion-col {
    display: flex;
    justify-content: center;
  }